@import "../../views/content/content.module";

.loading {
  @extend .content;
  margin-top: var(--header-height);

  .wrapper {
    position: relative;
    height: 80px;
    width: 80px;

    div {
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background: var(--user-color);
      animation-timing-function: cubic-bezier(0, 1, 1, 0);

      &:nth-child(1) {
        left: 12px;
        animation: scale1 0.6s infinite;
      }

      &:nth-child(2) {
        left: 12px;
        animation: scale2 0.6s infinite;
      }

      &:nth-child(3) {
        left: 36px;
        animation: scale2 0.6s infinite;
      }

      &:nth-child(4) {
        left: 60px;
        animation: scale3 0.6s infinite;
      }
    }
  }
}

@keyframes scale1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scale2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}