@import "../../assets/styles/extends";

.wrapper {
  @extend .fixed;
  top: unset;
  height: var(--paging-height);
  background: var(--view-color);
  background: linear-gradient(180deg, var(--view-color) 0%, var(--user-color-soft) 100%);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  margin: 0 auto;
  max-width: var(--max-width);
  row-gap: 1rem;
  padding: 1rem;
  z-index: 1;
  @extend .flexCenter;

  .buttonWrapper {
    @extend .flexCenter;
    margin-top: -2rem;

    .pageButton {
      user-select: none;
      color: var(--text-color);
      transition: .3s ease;
      padding: .5rem 1rem;
      margin: 0 .2rem;
      @extend .flexCenter;
      border-radius: var(--radius);
      background-color: transparent;
      cursor: pointer;
      font-size: 1.2rem;
      font-weight: 500;

      &:hover {
        background-color: var(--app-color);
      }
    }

    .pageButton.activeLink {
      border: 1px solid var(--border-color);
      color: var(--user-color);
      font-weight: 700;
      font-size: 1.1rem;
      background-color: var(--app-color);
    }

    .disabled {
      cursor: not-allowed;
      color: var(--muted-color);

      &:hover {
        background-color: transparent;
      }
    }
  }

  .totalItems {
    position: absolute;
    bottom: 0;
    clip-path: polygon(0 100%, 10% 0, 90% 0, 100% 100%);
    padding: .7rem 2rem;
    background-color: var(--app-color);
    color: var(--text-color);
    font-weight: 600;
  }
}

@media screen and (max-width: 968px) {
  :root {
    --paging-height: 7rem;
  }
  .wrapper {
    .buttonWrapper {
      margin-top: -1rem;
      .pageButton {
        font-size: 1rem;
        margin-bottom: 1rem;
        padding: .5rem .7rem;
      }

    }
    .totalItems {
      padding: .5rem 1.5rem;
      font-size: .8rem;
    }
  }
}

@media screen and (max-width: 360px) {
  .wrapper {
    .pageButton {
      padding: .5rem;
    }
  }
}