@import "./assets/styles/extends";

.container {
  position: relative;
  max-width: var(--max-width);
  margin: 0 auto;
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  background-color: var(--view-color);
  box-shadow: 0 4px 16px var(--shadow-color);
  @extend .customScroll;

}